<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header Admin</title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-dark bg-dark" aria-label="Secondary navigation">
    <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
</body>
</html>