<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NavBar Admin</title>
</head>
<body>
<div th:fragment="nav">
    <div  class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Navbar</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <aside class="bd-sidebar">
                <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
                    <ul class="list-unstyled mb-0 py-3 pt-md-1">
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse" aria-expanded="false">
                            Quản Lí Người Dùng (User Management)
                        </button>

                        <div class="collapse" id="getting-started-collapse" style="">
                            <ul class="list-unstyled fw-normal pb-1 small">
                                <li><a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" class="d-inline-flex align-items-center rounded">Thêm Người Dùng Mới</a></li>
                                <li><a th:href="@{/admin/user-management}" class="d-inline-flex align-items-center rounded">Xem Danh Sách Người Dùng</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#customize-collapse" aria-expanded="false">
                            Quản Lí Bài Đăng (Post Management)
                        </button>

                        <div class="collapse" id="customize-collapse" style="">
                            <ul class="list-unstyled fw-normal pb-1 small">
                                <li><a href="https://getbootstrap.com/docs/5.0/customize/overview/" class="d-inline-flex align-items-center rounded">Viết Bài Mới</a></li>
                                <li><a th:href="@{/admin/post-management}" class="d-inline-flex align-items-center rounded">Xem Danh Sách Bài Đăng</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#layout-collapse" aria-expanded="false">
                            Quản Lí Danh Mục (Category Management)
                        </button>

                        <div class="collapse" id="layout-collapse" style="">
                            <ul class="list-unstyled fw-normal pb-1 small">
                                <li><a href="https://getbootstrap.com/docs/5.0/layout/breakpoints/" class="d-inline-flex align-items-center rounded">Thêm Danh Mục Mới</a></li>
                                <li><a th:href="@{/admin/category-management}" class="d-inline-flex align-items-center rounded">Xem Danh Sách Danh Mục</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                </nav>

            </aside>
        </div>
    </div>
</div>

</body>
</html>