<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="user-table(users)">
        <div  class="container-fluid bd-content ps-lg-4">
            <div class="bd-example">
                <div class="table-responsive">
                    <form id="form-table" method="post" th:action="@{/admin/user-management/delete}">
                        <table id="table" class="table table-hover table align-middle">
                            <caption>List of users</caption>
                            <thead>
                            <tr>
                                <th scope="col">
                                    <fieldset class="form-check">
                                        <input name="usersCheck" type="checkbox" class="form-check-input" id="selectAll">
                                    </fieldset>
                                </th>
                                <th scope="col">Họ</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Email</th>
                                <th scope="col">Posts</th>
                                <th scope="col">Trạng Thái</th>
                                <th scope="col">Xác Thực</th>
                                <th scope="col">Role</th>
                                <th scope="col">Ngày Tạo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="user : ${users}">
                                <tr th:id="${user.id}">
                                    <th scope="row">
                                        <fieldset class="form-check">
                                            <input name="userId" th:value="${user.id}" type="checkbox" class="form-check-input">
                                        </fieldset>
                                    </th>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td>
                                        <a href="#" class="text-primary" data-bs-toggle="modal" th:data-bs-target="|${'#modal'}${user.id}|"  th:text="|${user.posts.size}${' Posts'}|"></a>
                                        <div class="modal fade" th:id="|${'modal'}${user.id}|" tabindex="-1" th:aria-labelledby="|${'modal'}${user.id}${'Label'}|" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="card card-body">
                                                        <div th:each="post : ${user.posts}">
                                                            <p class="text-center">
                                                                <a class="text-left m-2" th:href="@{/admin/post-management/{id}/(id=${post.id})}" th:utext="${post.title}"></a>
                                                                <span class="text-muted m-2" th:utext="|${post.view}${' view'}|"></span>
                                                                <span class="text-muted m-2" th:utext="|${'ngày tạo: '}${post.createAt}|"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <th:block th:switch="${user.isAccountNonLocked}">
                                        <td class="text-danger" th:case="false">Lock</td>
                                        <td class="text-primary" th:case="true">Active</td>
                                        <td th:case="*">Không Xác Định</td>
                                    </th:block>
                                    <th:block th:switch="${user.isEnable}">
                                        <td class="text-primary" th:case="true">Confirmed</td>
                                        <td class="text-danger" th:case="false">unconfirmed</td>
                                        <td th:case="*">Không Xác Định</td>
                                    </th:block>
                                    <td th:text="${user.role.name}"></td>
                                    <td th:text="${user.createAt}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="invisible"></th>
                                <th>Họ</th>
                                <th>Tên</th>
                                <th>Email</th>
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>