<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <base th:href="${#servletContext.getContextPath()}">
    <style>
        body {
            background: #fff;
            background-image: url('/assets/img/bg.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .box-shadow {
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
    </style>
    <script th:src="@{/assets/js/global.js}"></script>
</head>
<body>
<form th:action="@{/user/info/update}" th:object="${user}" method="post" enctype="multipart/form-data" class="form-horizontal d-flex flex-centered" style="width: 100%">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{avatar}">
    <input type="hidden" th:field="*{email}">
    <input type="hidden" th:field="*{password}">
    <input type="hidden" th:field="*{isEnable}">
    <input type="hidden" th:field="*{isAccountNonLocked}">
    <input type="hidden" th:field="*{role}">

    <div class="col-5 card box-shadow">
        <div class="text-center" style="margin-top: 10px">
            <th:block th:if="${user.avatar}">
                <img class="img-fit-contain" style="width: 50%;border-radius: 25px" th:src="@{/assets/img/{path}(path=${user.avatar})}" alt="avt" />
            </th:block>
            <th:block th:unless="${user.avatar}">
                <img class="img-fit-contain" style="width: 50%;border-radius: 25px" th:src="@{/assets/img/avt.jpg}" alt="avt" />
            </th:block>
        </div>

        <div class="card-body">
            <div class="form-group d-flex flex-centered">
                <div class="col-10 col-sm-12">
                    <div class="form-group">
                        <div class="col-3">
                            <label class="form-label">Họ: </label>
                        </div>
                        <div class="col-9 has-icon-left">
                            <input class="form-input" th:field="*{firstName}">
                            <i class="form-icon icon icon-people"></i>
                        </div>
                        <p style="margin-left: 100px" th:if="${#fields.hasErrors('firstName')}" class="text-error"
                           th:errors="*{firstName}"></p>

                    </div>
                    <div class="form-group">
                        <div class="col-3">
                            <label class="form-label">Tên: </label>
                        </div>
                        <div class="col-9 has-icon-left">
                            <input class="form-input" th:field="*{lastName}">
                            <i class="form-icon icon icon-people"></i>
                        </div>
                        <p style="margin-left: 100px" th:if="${#fields.hasErrors('lastName')}" class="text-error"
                           th:errors="*{lastName}"></p>

                    </div>
                    <div class="form-group">
                        <div class="col-3">
                            <label class="form-label">Email: </label>
                        </div>
                        <div class="col-9 has-icon-left">
                            <input class="form-input" id="email" type="email" name="email1" th:value="${user.email}">
                            <i class="form-icon icon icon-mail"></i>
                        </div>
                        <p style="margin-left: 100px" th:if="${#fields.hasErrors('email')}" class="text-error"
                           th:errors="*{email}"></p>

                    </div>
                    <div class="form-group">
                        <div class="col-3">
                            <label class="form-label">Ngày Tạo: </label>
                        </div>
                        <div class="col-9 has-icon-left">
                            <input class="form-input" id="createAt" readonly th:field="${user.createAt}">
                            <i class="form-icon icon icon-time"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3">
                            <label class="form-label">Trạng thái: </label>
                        </div>
                        <div class="col-9 has-icon-left">
                            <th:block th:if="${user.isAccountNonLocked}">
                                <input class="form-input" readonly th:value="${'Hoạt động'}">
                                <i class="form-icon icon icon-check"></i>
                            </th:block>
                            <th:block th:unless="${user.isAccountNonLocked}">
                                <input class="form-input" readonly th:value="${'Lock'}">
                                <i class="form-icon icon icon-stop"></i>
                            </th:block>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-3">
                            <label class="form-label">Ảnh đại diện: </label>
                        </div>
                        <div class="col-9 has-icon-left">
                            <input class="form-input" type="file" name="file">
                            <i class="form-icon icon icon-upload"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button onclick="location.href=location.origin" type="button" class="btn btn-gray input-group-btn mx-2">Thoát</button>
                <button type="submit" class="btn btn-primary input-group-btn mx-2">Cập nhật</button>
            </div>
        </div>
        <div class="text-right" style="margin-top: 10px">
            <a th:href="@{/user/change-password}">Đổi mật khẩu</a>
            <i class="icon-forward"></i>
        </div>
    </div>
</form>
</body>
</html>