<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lỗi</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
</head>
<body>
<div class="container d-flex flex-centered">
    <div class="container-fluid">
        <img th:src="@{/assets/img/500.png}" alt="Error" />
        <p class="text-center" th:utext="${message}"></p>
        <div class="text-center">
            <button  type="submit" onclick="history.back()" class="btn btn-primary input-group-btn">Quay lại</button>
        </div>
    </div>
</div>
</body>
</html>